@font-face {
    font-family: nba;
    src: url(fonts/CursedTimerULiL.ttf);
}

body {
    margin: 0;
    background: #1b244a;
    text-align: center;
}

#scoreboard-container {
    margin: 5em auto 1em;
    max-width: 700px;
    min-width: 400px;
    width: 70%;
    border: 5px solid #9AABD8;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3em;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.points-container {
    display: flex;
    width: 155px;
    justify-content: space-between;
}

.score-text {
    font-family: nba;
    color: #F94F6D;
    font-size: 5.6em;
    background: #080001;
    border-radius: 10px;
    width: 155px;
    text-align: center;
    padding: 30px 0 20px;
    
}

.points-container {
    font-family: nba;
    color: #9AABD8;
    width: 100%;
    
}

button {
    border: 2px #9AABD8 solid;
    padding: 15px;
    border-radius: 10px;
    background: #1b244a;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
    
}

.team-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    font-size: 3rem;
}

#reset-btn {
    font-family: nba;
    color: #9AABD8;
    padding-top: 0.6em;
    font-size: 2rem;
    border: 5px solid;
}